# IDE and VM
.idea
.project
*.iml
server/.vagrant/*
server/.settings/*

# 3rd party modules
server/app/vendor/*
server/node_modules/*

# Build dirs
server/out/
sensor/platforms/bbb/out/
sensor/platforms/docker_x86/out/
sensor/platforms/docker_x86/conf/
sensor/services/cowrie/out/
sensor/services/dionaea/out/
sensor/services/recon/out/

# Build artifacts
package-lock.json
server/app/composer.lock
server/app/composer.phar
